@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


:root {
  font-family: 'Poppins', sans-serif;

  --background: #0A1828;
  --accent: #deb992;
  --text: white;
  --text-secondary: black;
  --span: #99da99;
  --cardBtn: #242424;
  --fade: rgb(194, 194, 194);
  --icons: invert(0);
  --about: #2f2f2f;
}

#root{
  height: 100%;
}