.about{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}


.aboutme{
    display: flex;
    padding: 0 var(--space-3);
}

.content{
    padding: var(--space-4);

    margin-bottom: var(--space-4);
    width: 58rem;
    font-size: 18px;
    font-weight: 300;

    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, rgb(28, 40, 73) 0%, rgb(36, 52, 95) 100%);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}


.content h2{
    margin-bottom: 1rem;
    color: white;
}

.content p{
    font-family: 'Roboto', system-ui, sans-serif;
    color: #c4c4c4;
    line-height: 1.4rem;
}

.container{
    padding: 0 var(--space-3);
}


.buttons{
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

/*  TECHNOLOGY AREA   */

.tech{
    width: 100%;
    color: white;

    margin: 0 auto;
    padding: 0 var(--space-3);

    margin-bottom: var(--space-6);
}

.title{
    font-weight: 600;
    margin-bottom: 2rem;
}

.langs{
    display: flex;
    flex-wrap: wrap;
}

.langs img{
    width: 24px;
    height: 24px;

    margin-right: 0.5rem;
}

.langs svg{
    width: 24px;
    height: 24px;
    fill: white;
    margin-right: 0.5rem;
}

.lang{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

