@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

.wrapper{
    width: 100%;
    background-color: var(--background);
}

.container{
	padding: 1rem;
	padding-top: 6rem;

	display: flex;
	justify-content: center;
}

.texts{
    font-size: 1.3rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2rem;
}

.texts span{
    color: var(--accent);
}

.buttons{
    display: flex;
}

.btn {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
    margin-right: 1rem;
}
.btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: var(--text);
	font-weight: 400;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(20px);
}
.btn:hover a {
	letter-spacing: 3px;
}
.btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #BFA181;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5s;
}
.btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #BFA181;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5s;
}
.btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}



@media (max-width: 750px){
    .grid{
        margin: 0;
        align-items: center;
    }
}


.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    height: 100%;
    width: 100%;
}


.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* background-color: var(--background); */
	background-color: rgba(255, 255, 255, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    border-radius: 1rem;
    padding-bottom: 1rem;
}

.header{
    border-bottom: 1px solid #474747;
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
	color: white;
}

.contentInfo{
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
	color: white;
}

.contentInfo svg{
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
	color: white;
}

.contentInfo:hover{
    background-color: rgb(45, 45, 45);
}