.wrapper{
    height: 100%;
    width: 100%;
    background-color: var(--background);
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 30rem);
    border-bottom: 3px solid var(--accent);
}

.grid{
    background-color: black;
    color: var(--text);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info, .info h1{
    color: white;
}

.grid h1:nth-child(3){
    margin-bottom: 0.5rem;
    color: white;
}

.grid span{
    color: var(--span);
}

.grid button{
    text-decoration:none;
    background-color:#5c9069;
    color:#fff;
    padding:10px 20px;
    border-radius:25px;
    text-transform:capitalize;
    cursor:pointer;
    overflow:hidden;
    position:relative;

    margin-bottom: 2rem;
    margin-right: 0.4rem;
}

.grid button span{
    position:absolute;
    background-color:#fff;
    transform:translate(-50%,-50%);
    border-radius:50%;
    pointer-events:none;
    animation: rippleEffect 1.5s 1;
}

.grid img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes rippleEffect{
    from{
        width:0; 
        height:0;
        opacity:0.7;
    }

    to{
        width:500px;
        height:500px;
        opacity:0;
    }
}

@media (min-width: 1200px){
    .grid img{
        object-fit: contain;
    }
}