.wrapper{
    background-color: var(--background);
    padding: 2rem;
    text-align: center;
}

.wrapper h1{
    color: white;
    display: inline-block;
    font-size: 3rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid #BFA181;
}

.wrapper p{
    color: white;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    justify-content: center;
    grid-gap: 3%;
}

.card{
    color: black;
    cursor: pointer;
    position: relative;
    height: 20rem;
    overflow: hidden;
    position: relative;
}

.slide{
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1513628253939-010e64ac66cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    transition: all 500ms;
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content p{
    font-size: 1rem;
}

.content h3{
    color: var(--accent);
    font-size: 2rem;
}

.slide2{
    transform: rotateY(180deg);
    opacity: 0;
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    transition: all 500ms;

    color: white;
}

.content2{
    height: 100%;
    background-color: white;
}

.header{
    background-image: url('https://images.unsplash.com/photo-1513628253939-010e64ac66cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);;
    clip-path: polygon(-100% 0, 100% 0, 100% 85%, 0 100%);

    width: 100%;
    padding: 2rem;
}

.header h2{
    color: white;
}
.techs{
    background-color: white;
    padding: 1rem;
}

.content2 p{
    color: black;
}


.card:hover .slide{
    transform: rotateY(180deg);
    opacity: 0;
}

.card:hover .slide2{
    transform: rotateY(0deg);
    opacity: 1;
}

.view{
    position: absolute;
    bottom: 0rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.view button{
    border: 2px solid var(--accent);
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
    font-family: 'Poppins';
    cursor: pointer;
    transition: all 500ms;
}

.view button:hover{
    background-color: var(--accent);
    color: white;
}

@media (max-width: 1050px) {
    .cards{
        grid-template-columns: repeat(2, 20rem);
        margin: 0;
    }
}

@media (max-width: 768px) {
    .cards{
        grid-template-columns: repeat(1, 20rem);
        margin: 0;
    }
}