.nav{
    width: 100%;
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
}

/* rgba(0,31,51,.9)  for cards*/ 

.nav-links{
    display: flex;
    justify-content: flex-end;
}

.nav-link{
    list-style-type: none;
    overflow: hidden;
}

.nav-items{
    position: relative;
    overflow: hidden;
    padding: 2rem;
    width: 100%;
    display: block;
    font-weight: 600;
    color: var(--text);
}

.active{
    color: var(--accent) !important;
}

.nav-items:hover{
    color: var(--accent);
}


.quicklinks{
    display: flex;
    margin-left: 1rem;
}


.quicklinks li{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 1rem;
}

.quicklinks svg{
    font-size: 2rem;
    color: var(--text);
}

.quicklinks svg:hover{
    color: var(--accent);
}